body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 1200px;
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  
}

.search-form {
  padding: 10px 10px;
  background-color: blue;
  text-align: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.photo-card {
  width: 250px;
}
.info {
  display: flex;
  justify-content: center;
  font-size: 12px;
  
}
.info-item {
  font-size: 10px;
  text-align: center;
  margin: 0;
  padding: 10px;
}